*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--white);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--black);
        border-radius: 25px;
    }
}

:root{
    --black: #333;
    --white: #fff;
    --gray: #ccc;
    --lightblue: lightblue;
    --darkpurple: #9c8bb6;
}

body{
    position: absolute;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.loading{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: lightblue;
    z-index: 101;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
.loading.done{
    visibility: hidden;
}
.loading span{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    margin: 0 10px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: -8px -8px 15px 0 rgba(255, 255, 255, 1),
    8px 8px 15px rgba(0, 0, 0, 0.2),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2),
    inset -1px -1px 5px rgba(255, 255, 255, 1);
}
.loading span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c89ff;
    border-radius: 50%;
    box-shadow:
            inset 3px 3px 5px rgba(0, 0, 0, 0.2),
            inset -1px -1px 5px rgba(255, 255, 255, 1);
    transform: scale(0);
    animation: animate 2s linear infinite,
    animateColor 5s linear infinite;
    animation-delay: calc(var(--i)*0.2s);
}
@keyframes animate{
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(1);
    }
}
@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.dark{
    --black: #fff;
    --white: #333;
    --lightblue: #9c8bb6;
    --darkpurple: lightblue;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    background: var(--white);
}
header .logo{
    position:relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.righSide{
    display: flex;
}

.btns{
    position: relative;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}
.btns ion-icon{
    font-size: 1.5em;
    color: var(--black);
}
.btns.menuToggle ion-icon{
    font-size: 3em;
}
.btns ion-icon:nth-child(2){
    display: none;
}
.btns.active ion-icon:nth-child(2){
    display: block;
}
.btns.active ion-icon:nth-child(1){
    display: none;
}

.middle{
    word-wrap: break-word;
    top: 0;
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main{
    position: relative;
    top: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.main .central_element{
    word-wrap: break-word;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 80%;
    height: 100%;
    background-size: 100% 100%;
    background: var(--gray);
}
.main .central_element iframe{
    height: 100%;
    width: 100%;
    border: none;
}

.left_menu{
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow-y: scroll;
    button{
        width: 90%;
        height: 30px;
        border: 1px solid var(--black);
        border-radius: 5px;
        background: var(--white);
        color: var(--black);
    }
    button.active{
        border: 3px solid var(--lightblue);
        box-shadow: inset 0 0 10px var(--lightblue);
    }
    button:hover{
        background-color: var(--gray);
    }
    .buttonContainer{
        display: flex;
        flex-direction: column;
    }
    li{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.left_menu .drawer{
    width: 90%;
    display: none;
    transform: translateY(-30px);
    background-color: var(--white);
    border: 1px solid var(--black);
    animation: animate_drawer_close 0.1s linear;
}
.left_menu .drawer.active{
    animation: animate_drawer_open 0.1s linear;
    display: block;
    transform: translateY(0px);
}
.left_menu .drawer a{
    text-decoration: none;
    color: var(--black);
}
.left_menu .drawer a:hover{
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}
@keyframes animate_drawer_open{
    0%{
        transition: 0.5s;
        transform: translateY(-30px);
        display: block;
    }
    100%{
        transform: translateY(0px);
        display: block;
    }
}
@keyframes animate_drawer_close{
    0%{
        transition: 0.5s;
        transform: translateY(0px);
        display: block;
    }
    100%{
        transform: translateY(-30px);
        display: block;
    }
}

.navigation{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active{
    left: 0;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}
.navigation li a:hover{
    background-color: var(--black);
    color: var(--white);
}
.navigation li a:active{
    color: var(--black);
}

.entry{
    position: relative;
    z-index: 102;
    width: 10%;
    height: 7%;
    cursor: pointer;
    margin: 10px;
    visibility: hidden;
    border-radius: 35px;
    font-size: 1.25em;
    text-decoration: none;
}
.entry:hover{
    background-color: ivory;
    border: 4px solid grey;
    font-weight: 700;
}
.entry.visible{
    visibility: visible;
}

.bottom{
    justify-content:space-between;
    display: flex;
    flex-direction: row;
}
.copyright{
    left: 10px;
    bottom: 0;
    z-index: 4;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--black);
}
.about{
    position: relative;
    right: 10px;
    bottom: 5px;
    z-index: 4;
    display: flex;
    flex-direction: row;
}
.about li{
    list-style: none;
}
.about li a{
    text-decoration: none;
    color: var(--black);
    font-size: 2em;
}

::-webkit-scrollbar-track{
    width: 1px;
}

@media (max-width: 768px) {
    .copyright{
        left: 10px;
        font-size: 1em;
    }
    header{
        padding: 10px;
    }
    .main video{
        height: 110%;
        width: 110%;
    }
}